<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis API Docs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div>
        <h1 id="api-title">Загрузка документации...</h1>
        <p id="api-version"></p>
    </div>
    <div class="server-config">
        <span>Base URL: </span><strong id="display-base-url">http://localhost:8080</strong>
    </div>
</header>

<main id="endpoints-container">
</main>

<script src="app.js"></script>
</body>
</html>